flows (2).json
[{"id":"06644578d4a9e2c6","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"29f3cdc980e540d7","type":"mqtt-broker","name":"","broker":"mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3e41bc25d1c75894","type":"ui_group","name":"Default","tab":"087f658cff3a7679","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"087f658cff3a7679","type":"ui_tab","name":"GreenTrack","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fa33edeeb9eb715b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#14ff7a","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#14ff7a","edited":true},"page-titlebar-backgroundColor":{"value":"#14ff7a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#60ffa5","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#14ff7a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0bb17b32a85c9b4b","type":"ui-base","name":"My Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"91123585f6d65869","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"0d52ce2ae10717c7","type":"ui-page","name":"Page 1","ui":"0bb17b32a85c9b4b","path":"/page1","icon":"home","layout":"grid","theme":"91123585f6d65869","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"064d5384e4f0fcac","type":"mqtt in","z":"06644578d4a9e2c6","name":"","topic":"/hidrogenio/temperatura","qos":"1","datatype":"auto-detect","broker":"29f3cdc980e540d7","nl":false,"rap":true,"rh":0,"inputs":0,"x":320,"y":340,"wires":[["c9ecd9d8d2747210","254bb5d54da46ae7"]]},{"id":"c9ecd9d8d2747210","type":"ui_gauge","z":"06644578d4a9e2c6","name":"","group":"3e41bc25d1c75894","order":1,"width":0,"height":0,"gtype":"donut","title":"temperatura do hidrogênio verde (H₂V)","label":"units","format":"{{value}}","min":"-40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":360,"wires":[]},{"id":"9a797267a21a37c3","type":"ui_gauge","z":"06644578d4a9e2c6","name":"","group":"3e41bc25d1c75894","order":2,"width":0,"height":0,"gtype":"gage","title":" fluxo de hidrogênio","label":"units","format":"{{value}}","min":"0.1","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":400,"wires":[]},{"id":"6ead1b6e390f0a37","type":"mqtt in","z":"06644578d4a9e2c6","name":"","topic":"/hidrogenio/luminosidade","qos":"0","datatype":"auto-detect","broker":"29f3cdc980e540d7","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":400,"wires":[["9a797267a21a37c3"]]},{"id":"254bb5d54da46ae7","type":"function","z":"06644578d4a9e2c6","name":"function 1","func":"var temperatura = parseFloat(msg.payload);\nvar alertaEnviado = context.get('alertaEnviado') || false;\n\nif (temperatura > 30 && !alertaEnviado) {\n    context.set('alertaEnviado', true);\n    var texto_msg = \"⚠️ ALERTA CRÍTICO ⚠️ ...\";\n\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=SEU_NUMERO_DE_TELEFONE&text=\" + encodeURIComponent(texto_msg) + \"&apikey=SEU_APIKEY\";\n\n    return msg;\n}\n\nif (temperatura <= 30) {\n    context.set('alertaEnviado', false);\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["14ad4603c41a96b1"]]},{"id":"14ad4603c41a96b1","type":"http request","z":"06644578d4a9e2c6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":680,"y":300,"wires":[[]]}]